In [6]:
ls antifraud/

config/  feature_engineering/  LICENSE  methods/  README.md
data/    geometric.txt         main.py  models/   requirements.txt

In [7]:
import pandas as pd

df = pd.read_csv("antifraud/data/S-FFSD.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77881 entries, 0 to 77880
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Time      77881 non-null  int64
 1   Source    77881 non-null  object
 2   Target    77881 non-null  object
 3   Amount    77881 non-null  float64
 4   Location  77881 non-null  object
 5   Type      77881 non-null  object
 6   Labels    77881 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 4.2+ MB

In [9]:
df.describe()

               Time         Amount        Labels
count  77881.000000   77881.000000  77881.000000
mean   38940.000000     195.624898      1.306249
std    22482.452494    4642.508520      0.915825
min        0.000000       0.000000      0.000000
25%    19470.000000       5.000000      0.000000
50%    38940.000000      16.610000      2.000000
75%    58410.000000      69.000000      2.000000
max    77880.000000  800000.000000      2.000000

In [10]:
df.head()

   Time  Source Target  Amount Location   Type  Labels
0     0  S10000  T1000   13.74     L100  TP100       2
1     1  S10001  T1001   73.17     L101  TP101       2
2     2  S10002  T1000   68.59     L100  TP100       2
3     3  S10003  T1002   57.00     L100  TP102       2
4     4  S10004  T1000   11.55     L100  TP100       2